body {
    font-family:Pinyon Script, parisienne;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #950A7F;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #BC78BE;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}